<form [formGroup]="form" class="col-12 d-flex flex-wrap justify-content-between align-content-start">

    <p class="mb-4">{{questionData.key!}}</p>
    <mat-form-field class="col-12 mb-3" appearance="fill">
        <mat-select formControlName="answer" multiple placeholder="پاسخ کاربر">
            <mat-option *ngFor="let value of questionData.values" [value]="value">
                {{value}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls?.['answer']?.hasError('maxSelectionExceeded')">{{formErrorMessages.max}}</mat-error>
    </mat-form-field>


</form>