<form [formGroup]="form" class="col-12 d-flex flex-wrap justify-content-between align-content-start">

    <p class="mb-4">{{questionData.key!}}</p>

    <div class="col-12 d-flex flex-wrap justify-content-center align-items-center align-content-center p-0">

        <span class="px-2 text-center">{{minLimit}}</span>
        <mat-slider class="mb-0" [step]="1" [displayWith]="formatLabel" discrete [min]="minLimit" [max]="maxLimit">
            <input formControlName="answer" matSliderThumb>
        </mat-slider>
        <span class="px-2 text-center">{{maxLimit}}</span>

    </div>


</form>