<form [formGroup]="form" class="col-12 d-flex flex-wrap justify-content-between align-content-start">


    <p class="mb-4">{{questionData.key!}}</p>
    <div class="col-12 d-flex align-items-center">
        <mat-form-field class="" appearance="outline">
            <mat-select formControlName="hour" placeholder="ساعت">
                <mat-option *ngFor="let h of hours" [value]="h">
                    {{h}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls?.['hour']?.hasError('required')">{{formErrorMessages.isRequired}}</mat-error>

        </mat-form-field>

        <span class="neutral_variant__shade-10 body-copy-strong mx-3">:</span>

        <mat-form-field class="" appearance="outline">
            <mat-select formControlName="minute" placeholder="دقیقه">
                <mat-option *ngFor="let m of minutes" [value]="m">
                    {{m}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls?.['minute']?.hasError('required')">{{formErrorMessages.isRequired}}</mat-error>

        </mat-form-field>
    </div>
    <mat-error *ngIf="form.hasError('max')">{{form.getError('max')}}</mat-error>

</form>