<form [formGroup]="form" class="col-12 d-flex flex-wrap justify-content-between align-content-start">
    
    <p class="mb-4">{{questionData.key!}}</p>
    <mat-form-field class="col-12 mb-4" appearance="outline">
        <input  matInput placeholder="پاسخ کاربر" type="text" formControlName="answer">
            <mat-error *ngIf="form.controls['answer'].hasError('required')">{{formErrorMessages.isRequired}}</mat-error>
            <mat-error *ngIf="form.controls['answer'].hasError('pattern')">{{formErrorMessages.regex}}</mat-error>
            <mat-error *ngIf="form.controls['answer'].hasError('maxlength')">{{formErrorMessages.max}}</mat-error> 
            <mat-error *ngIf="form.controls['answer'].hasError('minlength')">{{formErrorMessages.min}}</mat-error>
    </mat-form-field>

</form>