<section class="h-100 w-100 d-flex flex-wrap justify-content-center align-content-start">
    <header class="col-12 d-flex flex-wrap justify-content-start align-items-center bg-system_color__purple-3 p-2">
        <picture class="h-100 ml-3">
            <img src="../../assets/images/logo-amir.svg" alt="amirkabir">
        </picture>
        <span class="system_color__white">سامانه مدیریت فرایند دانشگاه امیرکبیر</span>
    </header>

    <article style="height: calc(100% - 60px);" class="w-100 overflow-auto p-lg-3 ">
        <router-outlet></router-outlet>
    </article>
</section>

