<form [formGroup]="form" class="col-12 d-flex flex-wrap justify-content-between align-content-start">
    
    <p class="mb-4">{{questionData.key!}}</p>
    <mat-form-field class="col-12 mb-4" appearance="outline">
        <mat-select formControlName="answer" [placeholder]="questionData.key">
            <mat-option *ngFor="let value of questionData.values" [value]="value">
                {{value}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls?.['answer']?.hasError('required')">{{formErrorMessages.isRequired}}</mat-error>
    </mat-form-field>


</form>