<section class="h-100 w-100 d-flex  flex-wrap justify-content-center align-content-start">

    
    <div class="d-flex col-12 col-md-11 col-lg-10 col-xl-9 flex-wrap justify-content-start  align-content-start p-2">
        <p class="title-5 col-12 mb-4">لیست در خواست ها</p>
        <ng-container *ngIf="forms$ | async as forms">
            <div class="col-lg-3 col-md-6 col-12 p-2" *ngFor="let form of forms">
                <div class="col-12 d-flex flex-wrap align-content-center justify-content-center form-card bg-system_color__white mx-2 mb-5"
                    [routerLink]="['/form', form.id]">
                    <span class="text-center body-copy-strong pointer">{{form.title}}</span>
                </div>
            </div>
        </ng-container>
    </div>
</section>