<section class="h-100 w-100 d-flex flex-wrap justify-content-center align-content-start bg-system_color__gray-6 p-5">
    <article class="d-flex col-12 col-md-11 col-lg-10 col-xl-9 flex-wrap justify-content-start align-content-start">
        <ng-container *ngIf="forms$ | async as forms">
            <div class="col-4 p-2" *ngFor="let form of forms">
                <div class="col-12 d-flex flex-wrap align-content-center justify-content-center form-card bg-system_color__white-2 mx-2 mb-5" [routerLink]="['/form', form.id]">
                    <span class="text-center body-copy-strong pointer">{{form.title}}</span>
                </div>
            </div>
        </ng-container>
    </article>
</section>
