.stepper-container {
    height: 50%;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
}

:host ::ng-deep .mat-step-label {
    display: none;
}

:host ::ng-deep .mat-horizontal-stepper-header {
    padding: unset !important;
    width: 100%;
}
:host ::ng-deep .mat-stepper-horizontal-line {
    display: none;
}

:host ::ng-deep .mat-horizontal-content-container {
    width: 100%;
    padding: 12px 12px 0 12px;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
    position: absolute;
    bottom: 0px;
}

:host ::ng-deep .mat-horizontal-stepper-wrapper {
    height: 100% !important;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

:host ::ng-deep .mat-stepper-header-position-bottom {
    display: flex;
    justify-content: center;
}

:host ::ng-deep .mat-horizontal-stepper-content {
    height: calc(100% - 72px);
    overflow: auto;
}

:host ::ng-deep .mat-step-header {
    background: transparent !important;
}

:host ::ng-deep .mat-ripple {
    display: none !important;
}

:host ::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}
