<section class="h-100 w-100 d-flex flex-wrap justify-content-center align-content-center bg-system_color__gray-6 p-3">
    <article class="col-12 col-md-7 col-lg-5 d-flex flex-wrap justify-content-center align-content-center bg-system_color__white stepper-container">
        <mat-stepper *ngIf="form$ | async as form" class="h-100 col-12 position-relative"  headerPosition="bottom" [selectedIndex]="currentStep$ | async" #stepper>

            <mat-step *ngFor="let q of form.questions; let i = index; trackBy: trackById" [ngSwitch]="q.type">

                <app-q-text *ngSwitchCase="questionTypeEnum.text" [questionData]="q" [currentStep]="(currentStep$ | async)!" [totalSteps]="form.questions.length" (stepChanged)="onStepChanged($event)"></app-q-text>
                <app-q-single-select *ngSwitchCase="questionTypeEnum.single_select" [questionData]="q" [currentStep]="(currentStep$ | async)!" [totalSteps]="form.questions.length" (stepChanged)="onStepChanged($event)"></app-q-single-select>
                <app-q-time *ngSwitchCase="questionTypeEnum.time" [questionData]="q" [currentStep]="(currentStep$ | async)!" [totalSteps]="form.questions.length" (stepChanged)="onStepChanged($event)"></app-q-time>
                <app-q-multi-select *ngSwitchCase="questionTypeEnum.multi_select" [questionData]="q" [currentStep]="(currentStep$ | async)!" [totalSteps]="form.questions.length" (stepChanged)="onStepChanged($event)"></app-q-multi-select>
                <app-q-range *ngSwitchCase="questionTypeEnum.range" [questionData]="q" [currentStep]="(currentStep$ | async)!" [totalSteps]="form.questions.length" (stepChanged)="onStepChanged($event)"></app-q-range>
                <app-q-radio *ngSwitchCase="questionTypeEnum.radio" [questionData]="q" [currentStep]="(currentStep$ | async)!" [totalSteps]="form.questions.length" (stepChanged)="onStepChanged($event)"></app-q-radio>
                <app-q-file *ngSwitchCase="questionTypeEnum.file" [questionData]="q" [currentStep]="(currentStep$ | async)!" [totalSteps]="form.questions.length" (stepChanged)="onStepChanged($event)"></app-q-file>
                <app-q-date *ngSwitchCase="questionTypeEnum.date" [questionData]="q" [currentStep]="(currentStep$ | async)!" [totalSteps]="form.questions.length" (stepChanged)="onStepChanged($event)"></app-q-date>

            </mat-step>

        </mat-stepper>
    </article>
</section>