<section class="h-100 w-100 d-flex flex-wrap justify-content-center align-content-center bg-system_color__gray-6 p-3">
    <article class="col-12 d-flex flex-wrap justify-content-center align-content-center bg-system_color__white stepper-container">
        <mat-stepper class="h-100 col-12 position-relative"  headerPosition="bottom" #stepper>
            <mat-step *ngFor="let i of [3,3,4,5,56,3,2,23,3546,345]" class="">
                <div>
                    <p>helooserf</p>
                    <br>
                    <p>helooserf</p>
                    <br>
                    <p>helooserf</p>
                    <br>
                    <p>helooserf</p>
                    <br>
                    <p>helooserf</p>
                    <br>
                    <p>helooserf</p>
                    <br>
                    <p>helooserf</p>
                    <br>
                    <p>helooserf</p>
                    <br>


                    <p>helooserf</p>
                    <br>
                    <p>helooserf</p>
                    <br>
                    <p>helooserf</p>
                    <br>
                    <p>helooserf</p>
                    <br>
                    <p>helooserf</p>
                    <br>
                    <p>helooserf</p>
                    <br>
                    <p>helooserf</p>
                    <br>

                </div>
            </mat-step>
        </mat-stepper>
    </article>
</section>