<form [formGroup]="form" class="col-12 d-flex flex-wrap justify-content-between align-content-start">

    <p class="mb-4">{{questionData.key!}}</p>
    <mat-form-field appearance="outline" class="col-12 p-0 mb-3">
        <input  formControlName="answer" class="col-8" matInput [matDatepicker]="date">
        <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
        <mat-error *ngIf="form.controls?.['answer']?.hasError('required')">{{formErrorMessages.isRequired}}</mat-error>
    </mat-form-field>


</form>